

.dialogs {
  display: grid;
  width: 100%;
  margin: 0 auto;

  grid-template-areas:
  "h h "
  "d m";

  grid-template-rows: 150px 1fr;
  grid-template-columns: 2fr 8fr;
}

.addDialog {
  grid-area: h;
} 

.textInput {
  width: 300px;
  height: 50px;
  text-align: center;
  padding: 5px;
  font-style:italic ;
  margin-top: 15px;
}

.btn {
  text-align:center;
}

.ditDialog {
  text-align: center;
}

 .btn {
  position: relative;
  height: 50px;
}

.buttonDialogs {
  padding: 5px;
  text-align: -webkit-center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 4px solid rgb(108, 108, 131);
  background-color: rgb(179, 179, 189);
  border-radius: 15px;
}

.dialogItems {
  grid-area: d;
}

.message {
  grid-area: m;
}
