.addDialog {
    grid-area: h;
    background-color: rgb(238, 214, 214);
   
  }

  .btn {
    background-color: grey;
    width: 115px;
    padding: 10px;
    height: 20px;
    border: 1px solid black;
  }

  .button {
      color:white;
      text-align: center;
  }